<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<title>Landing Page Demo</title>
	<meta name="description" content="" />

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- css -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css" />
	<style>
	body {
		padding-top: 40px;
	}
	</style>

</head>

<body>

	<div class="container">

		<div class="hero-unit">
			<h1>ReTweet for Treats!</h1>
			<p>
				The <a href="http://twitter.com/RT4Treats" target=_blank>@RT4Treats</a> service will allow your business, of any size, to offer treats (ie, coupons, rewards, etc) to your fans on twitter.  But it also ensures that your Twitter followers list grows, because your followers must retweet your offer in order to redeem it.  So they help you promote the offer to their friends too!
			</p>
			<p>
				We are actively developing this service now, so if you want updates, please sign up for our email list below.  We promise not to share your information with anyone else.
			</p>
			<p>
				<form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup5440" accept-charset="UTF-8" onsubmit="return verifyRequired5440();" >
				<input type="hidden" name="redirect" value="http://www.icontact.com/www/signup/thanks.html">
				<input type="hidden" name="errorredirect" value="http://www.icontact.com/www/signup/error.html">

				<div id="SignUp">
				<table width="260" class="signupframe" border="0" cellspacing="0" cellpadding="5">
					<tr>
				      <td valign="top" align="right">
				        <span class="required">*</span> Email
				      </td>
				      <td align="left">
				        <input type="text" name="fields_email">
				      </td>
				    </tr>
					<tr>
				      <td valign="top" align="right">
				         First Name
				      </td>
				      <td align="left">
				        <input type="text" name="fields_fname">
				      </td>
				    </tr>
					<tr>
				      <td valign="top" align="right">
				         Last Name
				      </td>
				      <td align="left">
				        <input type="text" name="fields_lname">
				      </td>
				    </tr>
					<tr>
				      <td valign="top" align="right">
				         Business
				      </td>
				      <td align="left">
				        <input type="text" name="fields_business">
				      </td>
				    </tr>
				    <input type="hidden" name="listid" value="54299">
				    <input type="hidden" name="specialid:54299" value="00G8">

				    <input type="hidden" name="clientid" value="1114384">
				    <input type="hidden" name="formid" value="5440">
				    <input type="hidden" name="reallistid" value="1">
				    <input type="hidden" name="doubleopt" value="0">
				    <tr>
				      <td> </td>
				      <td><span class="required">*</span> = Required Field</td>
				    </tr>
				    <tr>
				      <td> </td>
				      <td><input class="btn btn-large btn-primary" type="submit" name="Submit" value="I'm interested! Keep me posted."></td>
				    </tr>
				    </table>
				</div>
				</form>
				<script type="text/javascript">

				var icpForm5440 = document.getElementById('icpsignup5440');

				if (document.location.protocol === "https:")

					icpForm5440.action = "https://app.icontact.com/icp/signup.php";
				function verifyRequired5440() {
				  if (icpForm5440["fields_email"].value == "") {
				    icpForm5440["fields_email"].focus();
				    alert("The Email field is required.");
				    return false;
				  }


				return true;
				}
				</script>
			</p>
			<p>
				<a href="http://www.AgilityFeat.com/"><img src="http://d2bl-production.herokuapp.com/assets/agilityFeat.png"></a>
			</p>
		</div>

		

	</div>

</body>

</html>