<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<title>Landing Page Demo</title>
	<meta name="description" content="" />

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- css -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css" />
	<style>
	body {
		padding-top: 40px;
	}
	</style>

</head>

<body>

	<div class="container">

		<div class="hero-unit">
			<img src="/assets/RT4TreatsExampleArinSime.png" align="right">
			<h1>Grow your business using Twitter!</h1>
			<p>&nbsp;</p>
			<p>
				The <a href="http://twitter.com/RT4Treats" target=_blank>@RT4Treats</a> service helps your business, of any size, offer treats (ie, coupons, rewards, etc) to your customers on twitter.  But it also ensures that your Twitter followers list grows, because your followers must retweet your offer in order to redeem it.  So they help you promote the offer to their friends too!
			</p>
			<p>
				Our administration console is easy to use, all you need to do is select which of your tweets you want people to retweet, and give us the information to send to people who retweet you.  We handle the rest!
			</p>
			<hr/>
			<h2>What sort of "offers" should you give away?</h2>
			<p>How about copies of your book, coupons to your business, free MP3 downloads from your concert, or gift cards to services that your followers use?  You can give away anything you want!  We will send any link or information that you supply to the winners of your contest automatically.</p>
			</p>
			<hr/>
			<p>
				<form method="post" action="/signup" >
					<div id="SignUp">
						<table class="table">
							<thead>
								<tr>
									<th><h2>Package</h2></th>
									<th><h2>Trial Run</h2></th>
									<th><h2>Enterepreneur</h2></th>
									<th><h2>Agency</h2></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h3>You are ... </h3></td>
									<td><h3>Just trying this out</h3></td>
									<td><h3>A single Twitter user trying to grow my brand</h3></td>
									<td><h3>an Agency helping multiple twitter users grow their brands</h3></td>
								</tr>
								<tr>
									<td><h3>Twitter Users</h3></td>
									<td><h3>Just one!</h3></td>
									<td><h3>Just one!</h3></td>
									<td><h3>10 Twitter Users</h3></td>
								</tr>
								<tr>
									<td><h3>Offers you can make</h3> (This is how many of <strong>your</strong> tweets that you are asking people to retweet)</td>
									<td><h3>Just one!</h3></td>
									<td><h3>Unlimited</h3>for a single Twitter handle</td>
									<td><h3>Unlimited</h3>across all your Twitter accounts</td>
								</tr>
								<tr>
									<td><h3>Retweets we will respond to</h3></td>
									<td><h3>10 maximum</h3></td>
									<td><h3>Unlimited</h3> (or configure your own max)</td>
									<td><h3>Unlimited</h3> (or configure your own max)</td>
								</tr>
								<tr>
									<td><h2>Price</h2></td>
									<td><h3>$4.99</h3>per tweet</td>
									<td><h3>$9.99</h3>per month</td>
									<td><h3>$49.99</h3>per month</td>
								</tr>
								<tr>
									<td> </td>
									<td class="border-right"><input class="btn btn-large btn-primary" type="submit" name="Submit" value="Buy one Re-tweet now!"></td>
								
									<td class="border-right"><input class="btn btn-large btn-primary" type="submit" name="Submit" value="Get the Entrepreneur package now!"></td>
									<td><input class="btn btn-large btn-primary" type="submit" name="Submit" value="Get the PR/Marketing package now!"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</p>
			<p>
				<a href="http://www.AgilityFeat.com/"><img src="http://d2bl-production.herokuapp.com/assets/agilityFeat.png"></a>
			</p>
		</div>

		

	</div>

</body>

</html>